@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(menu.css);
@import url(banner.css);
@import url(container2.css);


{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	    
}



body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: auto;
}

.header .contenedor  {
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 61px;
    background: rgb(98,218,185);
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    
}


.contenedor .container2 {
    width: 100%;
    margin: auto;
}


header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 0px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
    
}

.sociales a {
    
    color: rgb(98,218,185);
    text-decoration: none;
    border-radius: 50px;
    background: white;
    line-height: 40px;
    margin-bottom: 15px;
    
}

section h2 {
    display: none;
}

.pie {
    
    background: rgb(53, 54, 52);
    padding: auto;
    width: 200%;
}

.gallery  {
    margin: 10px 50px;
    background: rgb(98,218,185);
    
}


.gallery img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    
}



.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


@media (min-width: 490px){
.slider {
    width: auto;
    height: 250px;
    }
.articulo1{
    text-align: right;
    margin-right: 40px;
    margin-left: 40px;
}
.articulo1 img{
    width: 220px;
    height: 140px;
}
.articulo1 h4{
    font-size: 25px;
}
.articulo1 h6{
    font-size: 16px;
}
.articulo1 p{
    font-size: 11px;
}
.articulo2{
    margin-top: 20px;
    margin-right:40px;
    margin-left: 40px;
}
.articulo2 img{
    width: 220px;
    height: 180px;
}
.articulo2 h4{
    font-size: 25px;
}
.articulo2 h6{
    font-size: 16px;
}
.articulo2 p{
    font-size: 11px;
}
.articulo2 input{
    font-size: 12px;
}


}
@media (min-width: 768px){
.slider {
        width: auto;
        height: 370px;
            
            
}

.articulo1{
    text-align: right;
    margin-right: 60px;
    margin-left: 60px;
}
.articulo1 img{
    width: 260px;
    height: 180px;
}
.articulo1 h4{
    font-size: 30px;
}
.articulo1 h6{
    font-size: 20px;
}
.articulo1 p{
    font-size: 14px;
}
.articulo2{
    margin-top: 30px;
    margin-right:60px;
    margin-left: 60px;
}
.articulo2 img{
    width: 260px;
    height: 240px;
}
.articulo2 h4{
    font-size: 30px;
}
.articulo2 h6{
    font-size: 20px;
}
.articulo2 p{
    font-size: 14px;
}
.articulo2 input{
    font-size: 15px;
}

}



@media (min-width: 1024px) {
    .menu{
        width: auto;
        height: auto;
        float: left;
        padding-top: 24px;
        box-sizing: border-box;
        background-color:  rgb(98,218,185);        
    }

    .slider {
        width: auto;
        height: 450px;
        
        
    }
   
   
 
    .container2{
        display: flex;
        margin-top: 30px;
    }
    .articulo1{
        flex: 1;
        margin-right: 15px;
    }
    .articulo2{
        flex: 1;
        margin-left: 15px;
    }
 }

