#menu-bar {
    display: none;
    
}

header label{
    float: right;
    font-size: 25px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    
    top: 61px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(98,218,185, 0.5);
    transition: all 0.5s;
    transform: translateX(-100%);
    
}

.menu a{
    display: block;
    color:#fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(98,218,185,0.5);
    
    
    
}

.menu a:hover {
    background: rgb(98,218,185,0.3);
}

#menu-bar:checked ~ .menu{
    display:block;
   transform: translateX(0%);
    
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        
    }
    .menu a {
        border: none;
    }
    
    header label {
        display: none;
    }
}