<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmacion de eliminación</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>¿Estas seguro que quieres remover la mascota {{ mascota.nombre }}?</h2>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>