<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>formulario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-formulario.css' %}" />
</head>
<body>
    <div class="anch">
        <div class="box1">
                <img id="logo" src="{% static 'img/logo.png' %}" alt="">
        </div>
    
        <div class="box2">
                <nav class="menu">
                        <ul>
                                <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                {% if not user.is_active %}
                                <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                {% endif %}
                                <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                                {% if user.is_active %}
                                    <li class="l"><a href="">{{user.username}}</a></li>
                                {% else %}
                                    <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                </nav>
        </div>
    </div>

    <br/>
    <div class= "label";>
        <label>FORMULARIO DE ADOPCIÓN</label>    
    </div>
    
    <div class="borde">
       
       <form method="POST" > {% csrf_token %}
        <br/>
        <div class="left"> Correo electrónico: </div> <div class="right"><input type="text" name="correo" placeholder="micorreo@gmail.com" required/></div> <br />
        <br />
        <br />
        
        <div class="left"> Run: </div> <div class="right"><input type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUN">
             <script src="{% static 'js/rut.js' %}"></script></div> <br />
        <br />
        <br />
        
        <div class="left"> Nombre Completo: </div> <div class="right"><input type="text" name="nombre" required minlength="1"/></div> <br />
        <br />
        <br />
        
        <div class="left"> Fecha de Nacimiento: </div> <div class="right"><input type="date" name="fechaNacimiento" required max="2000-12-31"/></div> <br />
        <br />
        <br />
        
        <div class="left"> Teléfono de Contácto: +56 </div> <div class="right"><input type="number" name="telefono" max="999999999"/></div> <br />
        <br />
        <br />
        
        <div class="left"> Región: </div> <div class="right"><select id="region" name="region" required>
            <option>XV Arica y Parinacota</option>
            <option>I Tarapacá</option>
            <option>II Antofagasta</option>
            <option>III Atacama</option>
            <option>IV Coquimbo</option>
            <option>V Valparaíso</option>
            <option>VI O'Higgins</option>
            <option>Región Metropolitana</option>
            <option>VII Maule</option>
            <option>VIII Biobío</option>
            <option>IX La Araucanía</option>
            <option>XIV Los Ríos</option>
            <option>X Los Lagos</option>
            <option>XI Aysén</option>
            <option>XII Magallanes y Antártica</option>
            </select></div> <br />
    <br />
    <div class="left"> Ciudad: </div> <div class="right"><select id="ciudad" name="ciudad" required>
            <option>concepción</option>
            <option>santiago</option>
            <option>chillan</option>
            <option>valdivia</option>
            <option>talca</option>
            <option>valparaiso</option>
            <option>osorno</option>
            <option>talcahuano</option>
            </select></div> <br />
    <br />
    <div class="left"> Tipo de vivienda: </div> <div class="right"><select id="vivienda" name="tipoCasa" required>
                        <option>Casa con patio grande</option>
                        <option>Casa con patio pequeño</option>
                        <option>Casa sin patio</option>
                        <option>Departamento</option>
                      </select></div><br/>
    <br/>
    <div class="left"> <button type="submit">Registrar</button></div>     
    <br/>
        
    </form>
   </div>

</body>
</html>