<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/mantenedor.css' %}" />
    <title>Formulario para registrar mascota</title>
</head>
<body>
    <div class="container1">
        <div class="anch">
            <div class="box1">
                    <img id="logo" src="{% static 'images/logo.png' %}" alt="">
            </div>
        
            <div class="box2">
                    <nav class="menu">
                            <ul>
                                    <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                    {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    {% endif %}
                                    <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                                    {% if user.is_active %}
                                        <li class="l"><a href="">{{user.username}}</a></li>
                                    {% else %}
                                        <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                    </nav>
            </div>
        </div>
        
        <div>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <br>
                <br>
                <div class="left"> Subir fotografia: </div> <div class="left"><input type="File" name="fotografia" accept="image/png, .jpeg, .jpg, image/gif"></div> 
                <br>
                <br>
                <div class="left"> Nombre: </div> <div class="right"><input type="text" name="nombre" required minlength="1" maxlength="40" value="{{ mascota.nombre }}"></div> 
                <br>
                
                <div class="left"> Raza: </div> <div class="right"><input type="text" name="razaPredominante" required minlength="1" maxlength="40" value="{{ mascota.razaPredominante }}"></div>
                <br>
                
                <div class="left"> Descripción: </div> <div class="right"><input type="text" name="descripcion" required minlength="1" maxlength="100" value="{{ mascota.descripcion }}"></div>
                <br>
               
                <div class="left"> Estado: </div> <div class="right"><select id="estado" name="estado" required>
                        <option>Rescatado</option>
                        <option>Disponible</option>
                        <option>Adoptado</option>
                      </select></div><br/>
                <br/>
                <div class="left"> <button type="submit">Guardar</button></div>     
                <br/>
                {% if mascota %}
                    <a href="{% url 'del_mascota' mascota.id %}">Delete</a>
                {% endif %}

            </form>

            
        </div>
</body>
</html>