<!DOCTYPE html>
{% load static %}
<!--integrantes: Juan Arroyo Vergara, Christopher Rivas Roa-->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/container2.css' %}">
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
    
    <title>Mis Perris</title>
</head>
<body>
  <main>  
    <header>
    <!--<h1>encabezado</h1>-->
     <div class="contenedor">
         <img src="{% static 'images/logo.png' %}" alt="">
         <input type="checkbox" id="menu-bar">
         <label class="icon-menu" for="menu-bar"></label> 
         <nav class="menu">
            <!--<h1>menu</h1>-->
            <ul>
                    <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                    {% if not user.is_active %}
                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                    {% endif %}
                    <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                    {% if user.is_active %}
                        <li class="l"><a href="">{{user.username}}</a></li>
                    {% else %}
                        <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </nav>
         </div>
    </header>
    
  
    <section id="banner">
       <h2>seccion slider y sociales</h2>
           <div class="slider">
             <ul>
                 
                 <li><img src="{% static 'images/Tom.jpg' %}" alt="">
                <div class="contenedor">
                     <p id="parrafo">"Estamos felices de tener a nuestro nuevo compañero en casa."</p>
                 </div>
                 </li>
                 <li><img src="{% static 'images/Duque.jpg' %}" alt=""></li>
                 <li><img src="{% static 'images/Apolo.jpg' %}" alt=""></li>
                
              </ul>        
              <div class="sociales">
                      <a class="icon-facebook" href="#"></a>
                      <a class="icon-google" href="#"></a>
                      <a class="icon-instagram" href="#"></a>
                      <a class="icon-mail" href="#"></a>
                  </div>
                  
             
              </div>
              
    </section>
    
    
    <section id="rescate">
          <h2>seccion rescate y financiamiento</h2>
          <div class="container2">
                <div class="articulo1">
                        <h4>RESCATE</h4>
                        <H6>ETAPA UNO</H6>
                        <h6>_______</H6>
                        <br>
                        <p>Rescatamos perritos en situación de peligro y/o abandono. Los rehabilitamos y los</p>
                        <p>preparamos para buscarles un hogar.</p>
                        <br>
                        <img src="{% static 'images/rescate.jpg' %}" alt="">
                </div>
                <div class="articulo2">
                        <img src="{% static 'images/crowfunding.jpg' %}" alt="">
                        <h4>CROWDFUNDING</h4>
                        <h6>FINANCIAMIENTO</h6>
                        <h6>_______</h6>
                        <br>
                        <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y</p>
                        <p>actividades que realizamos para obtener financiamiento para seguir ayudando</p>
                        <br>
                        <input type="button" value="CAMPAÑAS">
                </div>
            </div>
    </section>
    
 
    
   <div class="gallery">
        <a href="{% static 'images/Bigotes.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Bigotes, soy un perrito muy jugueton y regalon.">
        <img src="{% static 'images/Bigotes_tn.jpg' %}" alt=""></a>
        <a href="{% static 'images/Luna.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Luna, soy una perrita muy juggetona">
        <img src="{% static 'images/Luna_tn.jpg' %}" alt=""></a>
        <a href="{% static 'images/Maya.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Maya, soy una perrita pequeña muy regalona">
        <img src="{% static 'images/Maya_tn.jpg' %}" alt=""></a>
        <a href="{% static 'images/Oso.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Oso, soy un perrito que le gusta mucho jugar al aire libre">
        <img src="{% static 'images/Oso_tn.jpg' %}" alt=""></a>
        <a href="{% static 'images/Pexel.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Pexel, soy un perrito muy pequeño al que le gusta jugar mucho">
        <img src="{% static 'images/Pexel_tn.jpg' %}" alt=""></a>
        <a href="{% static 'images/Wifi.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Wifi, soy un perrito con un diseño de manchas muy tierno">
        <img src="{% static 'images/Wifi_tn.jpg' %}" alt=""></a>
         <a href="{% static 'images/Chocolate.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Chocolate, soy un perro grande que le gusta pasear y jugar">
        <img src="{% static 'images/Chocolate_tn.jpg' %}" alt=""></a>
   </div>

  </main>
 <footer>
 	 <div class="pie">
              
      <h5>Desarrollo Web y Mobile</h5>
              
           </div>
 </footer>
 
  
  
</body>
</html>
