<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-mascota.css' %}" />
    <title>Lista de mascotas disponibles</title>
</head>
<body>
        <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                        <ul>
                                                        <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                                        {% if not user.is_active %}
                                                        <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                                        {% endif %}
                                                        <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                                                        {% if user.is_active %}
                                                            <li class="l"><a href="">{{user.username}}</a></li>
                                                        {% else %}
                                                            <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                                        {% endif %}
                                                    </ul>
                        </nav>
                </div>
            </div>
            <div class="borde">
                        <h1>Mascotas en adopción</h1>
                        {% for perro in listam %}
                        <div>
                            {% if request.user.is_superuser %}
                             <a href="{% url 'upd_mascota' perro.id %}">
                                    <img src="{{ perro.fotografia.url }}" alt=""> 
                                    <br>
                             </a>
                             <h4>Nombre: {{perro.nombre}}</h4>
                             <h4>Raza predominante: {{perro.razaPredominante}}</h4>
                             <h4> Descripcion: {{perro.descripcion}}</h4>
                             <h4>Estado: {{perro.estado}}</h4>
                            {% else %}
                             <a href="{% url 'contacto' %}">
                                    <img src="{{ perro.fotografia.url }}" alt=""> 
                                    <br>
                             </a>
                             <h4>Nombre: {{perro.nombre}}</h4>
                             <h4>Raza predominante: {{perro.razaPredominante}}</h4>
                             <h4> Descripcion: {{perro.descripcion}}</h4>
                             <h4>Estado: {{perro.estado}}</h4>
                            {% endif %}
                            
                            <br>
                        </div>
                        {% endfor %}
                    
                        {% if request.user.is_superuser %}
                        <a href="{% url 'masclist' %}">Volver Atras</a>
                        {% else %}
                        <a href="{% url 'servicios' %}">Volver Atras</a>
                        {% endif %}
                    
                        <a href="{% url 'masclist' %}">Volver Atras</a>
            </div>
    
</body>
</html>