<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-mascota.css' %}" />
    <title>Lista de Mascotas</title>
</head>
<body>
        <div class="anch">
                <div class="contenedor1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="contenedor2">
                        <nav class="menu">
                                <ul>
                                        <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                        {% if not user.is_active %}
                                        <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                        {% endif %}
                                        <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                                        {% if user.is_active %}
                                        <li class="l"><a href="">{{user.username}}</a></li>
                                        {% else %}
                                        <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                        {% endif %}
                                </ul>
                        </nav>
                </div>
            </div>
            <div id="crud">
                {% if request.user.is_superuser %}
                        <a href="{% url 'crea_mascotas' %}">Agregar nuevo</a>
                        <a href="{% url 'rescatado' %}">Ver rescatados</a>
                        <a href="{% url 'adoptados' %}">Ver adoptados</a>
                        <a href="{% url 'disponibles' %}">Ver disponibles</a>
                {% else %}
                        <a href="{% url 'disponibles' %}">Ver disponibles</a>
                        <br>
                        <br>
                {% endif %}
                        </div>
            <div class="borde">
               
        <h1>Lista Mascotas</h1>
        {% for mascota in listam %}
        <div>
                <a href="{% url 'upd_mascota' mascota.id %}">
                        <img src="{{ mascota.fotografia.url }}" alt="">
                        <br> 
                        {{mascota.nombre}}
                </a>   
                
                <br>
        </div>
        {% endfor %}

        
    </div>

    <div class="pie">
                <footer>
                 {% if user.is_active %}
                     <form method="POST" action="{% url 'accounts:logout' %}">
                         {% csrf_token %}
                         <h5>Conectado Como {{user.username}}</h5>
                         <br>
                         <button type="submit" >Cerrar Sesión</button>
                         
                     </form>
                 {% endif %}
                </footer>
     </div>

   
</body>
</html>