<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-mascota.css' %}" />
    <title>Lista mascotas adoptadas</title>
</head>
<body>
        <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                        <ul>
                                                        <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                                        {% if not user.is_active %}
                                                        <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                                        {% endif %}
                                                        <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>
                                                        {% if user.is_active %}
                                                            <li class="l"><a href="">{{user.username}}</a></li>
                                                        {% else %}
                                                            <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                                        {% endif %}
                                                    </ul>
                        </nav>
                </div>
            </div>
            <div class="borde">
                        <h1>Lista Adoptados</h1>
                        {% for mascota in listam %}
                        <div>
                             <a href="{% url 'upd_mascota' mascota.id %}">
                                    <img src="{{ mascota.fotrografia.url }}" alt=""> 
                                    <br>
                                    {{mascota.nombre}}
                             </a>   
                            
                            <br>
                        </div>
                        {% endfor %}
                    
                        <a href="{% url 'masclist' %}">Volver Atras</a>
            </div>
   
</body>
</html>