<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-mascota.css' %}" />
    <title>Servicios</title>
</head>
<body>
        <div class="anch">
                <div class="contenedor1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="contenedor2">
                        <nav class="menu">
                                <ul>
                                    <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                                    {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    {% endif %}
                                    <li class="l"><a href="{% url 'servicios' %}">Servicios</a></li>  
                                    {% if user.is_active %}
                                    <li class="l"><a href="">{{user.username}}</a></li>
                                    {% else %}
                                    <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                        </nav>
                </div>
            </div>
    <div class="borde">
        <h1>Servicios</h1>
        {% for mascota in listam %}
        <div>
                <a href="{% url 'update_mascota' mascota.id %}">
                        <img src="{{ mascota.fotografia.url }}" alt="">
                        <br> 
                        <h4>Nombre: {{mascota.nombre}}</h4>
                        <h4>Raza predominante: {{mascota.razaPredominante}}</h4>
                        <h4> Descripcion: {{mascota.descripcion}}</h4>
                        <h4>Estado: {{mascota.estado}}</h4>
                </a>   
                
                <br>
        </div>
        {% endfor %}

        {% if request.user.is_superuser %}
                <br>
                <a href="{% url 'masclist' %}"><h1>Gestion de Mascotas de la asociación</h1></a>
                <br>
                <br>
                
        {% else %}
                <br>
                <br>
                <a href="{% url 'disponibles' %}"><h1>Adoptar Mascotas Disponibles</h1></a>
                <br>  
                <br>
        {% endif %}
       
    </div>
    <div class="pie">
            <footer>
             {% if user.is_active %}
                 <form method="POST" action="{% url 'accounts:logout' %}">
                     {% csrf_token %}
                     <h5>Usuario {{user.username}}</h5>
                     <br>
                     <button type="submit" >Cerrar Sesión</button>
                     
                     
                 </form>
             {% endif %}
            </footer>
    </div>
    

   
</body>
</html>