<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo-mascota.css' %}" />
    <title>registro</title>
</head>
<body>


<div class="anch">
    <div class="box1">
                <img id="logo" src="{% static 'images/logo.png' %}" alt="">
        </div>
    
        <div class="box2">
                <nav class="menu">
                        <ul>
                            <li class="l"><a href="{% url 'inicio' %}">Inicio</a></li>
                            <li class="l"><a href="#">Quienes somos</a></li>
                            <li class="l"><a href="{% url 'masclist' %}">Servicios</a></li>  
                            <li class="l"><a href="{% url 'contacto' %}">Contactanos</a></li>
                        </ul>
                </nav>
        </div>
    </div>

    <div class="borde">
        
            <h1>Registro de nuevo Usuario</h1>
            <!--el formulario lo crea de forma automatica con el comando UserCreationForm
            que viene en django-->
            <form method="POST" >{% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" value="Signup">     
            </form>
        
        
    </div>
   

</div>
   
</body>
</html>

