#banner {
    margin-top: 61px;
    position: relative;
    background: rgb(98,218,185)
}

#banner img {
    width: 100%;
    height: 450px;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: cambio 10s infinite;
    margin-bottom: 10px;
}
.slider li{
    width: 100%;
    list-style: none;
    
}
.slider img {
    width: 100%;
    
}
@keyframes cambio{
    0%{ margin-left: 0;}
    30%{margin-left: 0;}
    
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}


.slider #parrafo{
    position: absolute;
    top: 75%;
    left: 34%;
    transform: translateX(-50%) translateY(-60%);
    color: #fff;
    
}

s

.slider p {
    font-size: 15px;
   
}

@media (min-width:1024px) {

    #banner {
        margin-top: 61px;
        position: relative;
        background: rgb(98,218,185)
    }
    
    #banner img {
        width: 100%;
        height: 450px;
    }
    
    .slider{
        width: 100%;
        margin: auto;
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .slider ul{
        display: flex;
        padding: 0;
        width: 300%;
        
        animation: cambio 10s infinite;
        margin-bottom: 10px;
    }
    .slider li{
        width: 100%;
        list-style: none;
        
    }
    .slider img {
        width: 100%;
        
    }
    @keyframes cambio{
        0%{ margin-left: 0;}
        30%{margin-left: 0;}
        
        35%{margin-left: -100%;}
        65%{margin-left: -100%;}
        
        70%{margin-left: -200%;}
        100%{margin-left: -200%;}
    }
    
    
    .slider #parrafo{
        position: absolute;
        top: 75%;
        left: 34%;
        transform: translateX(-50%) translateY(-60%);
        color: #fff;
        
    }
    
    s
    
    .slider p {
        font-size: 15px;
       
    }
}

